body {
    box-sizing: border-box;
    background-color: black;
    background-image: radial-gradient(to right, black, rgb(101, 101, 101), black);

}

/* NAVBAR............. */
.navbar-nav li{
        padding: 0px 5px;
    }
    
.nav-item a:hover{
        text-shadow: none;
        transition: 0.2s linear;
        color: black;  
    }
 
  /* Style the navbar */
  /* .navbar {
    position: fixed; 
    width: 100%; 
    top: 0;
    z-index: 1000; 
  } */


/* WALLPAPER................... */
.big-banner{
    background-image: url(images/women2.jpg);
    background-size: cover;
}

/* DISCOVER NOW AND LOGIN...................... */
.firstbutton{
    position: relative;
    top: 220px;
    left: 20px;
    width: 50%;
}
.firstbutton button{
background-color: rgba(0, 0, 0, 0.689);
border: none;
color: white;
transition: 0.3s ease;
}

.firstbutton P{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.firstbutton h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(196, 5, 5);
    font-weight: bolder;
}
.firstbutton a{
    color: white;
}
.firstbutton a:hover{
 text-decoration: none;
}




.jumbotron{
    background-image: linear-gradient(to right, rgb(56, 56, 56), black, rgb(56, 56, 56));
    padding: 10px;
    padding-top: 40px;
}

.jumbotron h1{
    color: crimson;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.jumbotron p{
     font-weight: bold;
     font-style: italic;
     color: rgb(97, 97, 97);
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

  
/* ....................................PRODUCT CONTAINER */
.container{
    /* margin-bottom: 90px; */
    background-color: transparent;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    /* background-color: rgb(143, 25, 25); */
    background-color: transparent;
    padding: 20px;
    margin-top: 20px;
}

.product{
    height: 450px;
    width: 250px;
    padding: 10px;
    background-image: linear-gradient(to top, rgb(178, 178, 178),rgb(45, 45, 45));
    box-shadow: 0px 0px 5px rgb(52, 52, 52);
    border-radius: 20px;
    border: 2px solid rgb(99, 99, 99);
    transition: 0.7s ease;
    margin-bottom: 50px;
}
.product:hover{
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
    background-image: linear-gradient(to top, rgb(178, 178, 178),rgb(65, 65, 65));
}
.product:hover img{
    width: 100%;
    height: 250px;
    margin: 0px;
    margin-bottom: 10px;}

.product img{
    width: 90%;
    height: 220px;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid black;       
    border-bottom: 3px solid rgb(0, 0, 0);
    margin: auto 5% 20px 5%;
    transition: 0.4s ease;
}

.product button{
    /* margin-right: 10px; */
    padding: 3px 15px 3px 15px;
    background-color: crimson;
    color: rgb(255, 255, 255);
    float: right;
    border-radius: 0px 0px 10px 0px;
    border: none;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    font-size: smaller;
    transition: 0.5s ease;
}

.product button:hover{
    background-color:rgba(0, 0, 0, 0.797);
    color: rgb(255, 255, 255);
}


.product p{
    font-size: small;
    float: left;
    font-weight: bolder;
}

.product h6{
    font-size: x-small;
    margin-bottom: 25px;
}

.product h5{
    font-size: medium;
    margin-bottom: 25px;
}


/* ....................................PRODUCT MODAL*/
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.888);
    z-index: 1;
    overflow-y: scroll;
    background-image: radial-gradient( rgba(104, 104, 104, 0.174) ,black);
}

#cart-items img{
    width: 60%;
    height: 150px;
    margin-bottom: 5px;
    border: 1px solid black;
}

#cart-items h3{
    font-size: small;
    margin-bottom: 5px;
}


.modal-content {
    width: 700px;
    margin: 50px auto;
    padding: 20px 0px 0px 0px;
    position: relative;
    /* box-shadow: 0px 4px 8px rgb(255, 255, 255); */
    background-color: rgb(255, 255, 255);
}


.singleCartElement{
    background-color: rgb(189, 189, 189);
    padding: 5px;
}

.wholeOneCart{
    /* background-color: rgb(55, 17, 23); */
    background-color: rgb(44, 44, 44);
    margin: 5px;
    padding: 2px;
}

.wholeOneCart button{
    background-color: rgb(189, 189, 189);
    border: none;
    font-size: small;
    margin: 0px;
    padding:  2px 5px;
    background-color: crimson;
    color: white;
    margin: 5px;
    transition: 0.5s ease;
}

.wholeOneCart button:hover{
    background-color: transparent;
}

#cart-items{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    justify-content: center;
}


.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.modal-content h2{
    margin-left: 20px;
}

.total {
    text-align: right;
    font-weight: bold;
    background-color: crimson;
    margin: 0px;
    padding: 10px;
    color: white;
    padding-right: 10px;
}




/* <!-- ADVERTISMENT................................................................. --> */
.carousel-inner{
    background-image: radial-gradient(rgb(157, 157, 157), rgb(0, 0, 0));
    background-image: linear-gradient(to bottom, black, rgb(55, 55, 55), black );
    /* background-image: radial-gradient(rgb(250, 0, 0), rgb(0, 0, 0)); */
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

.carousel-item img{
    /* width: 100%;
    height: 100%; */
    margin-top: 30px; 
    border-left: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    border-radius: 30px;

  }

  .carousel-caption{
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.261), rgb(0, 0, 0), rgba(0, 0, 0, 0.261), transparent);
  }

.carousel-caption h1{
    font-weight: bold;
    font-size: 20px;

}
.carousel-caption p{
font-size: smaller;
}



/* <!-- FOOTER..................... --> */
.Footbackground{
    /* background-color: rgb(246, 255, 0); */
    color: white;
    padding: 10px;
    margin-top: 100px;
}

.containering{
    /* background-color: pink; */
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bolder;
    background-image: linear-gradient(to top, rgb(60, 60, 60), black, black);
}

.footIcons{
    color: white;
}

.fab{
    background-color: rgb(210, 19, 57);
    padding: 10px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: large;
    transition: 0.5s ease;
}
.footIcons .fab:hover{
    background-color: rgb(120, 120, 120);
}

.Footparagraph{
   width: 70%;
   margin: auto;
}












